# defaults.cfg - sets default settings for buildout and the application directory
[buildout]

# Write a picked.cfg so we can know of anything new
update-versions-file = buildout-picked.cfg

# Configure mr.developer
extensions =
    mr.developer
auto-checkout = *

# Hide most of the dirs away in the buildout directory
develop-eggs-directory = ${buildout:directory}/buildout/develop-eggs
eggs-directory = ${buildout:directory}/buildout/eggs
parts-directory = ${buildout:directory}/buildout/parts
sources-dir = ${buildout:directory}/buildout/src

# Expose the bin and var directories
# Use default for bin-directory
# bin-directory = ${buildout:directory}/bin
# var-directory is not part of buildout (we create it with the [var] part
var-directory = ${buildout:directory}/var

# Init parts varable and make sure a var dir is created
parts =
    mr.developer
    var

# This is needed in the case that mr.developer needs to be built
# before the rest of the buildout using "buildout install mr.developer"
[mr.developer]
recipe = zc.recipe.egg
eggs = mr.developer

[var]
recipe = z3c.recipe.mkdir
paths = ${buildout:var-directory}

[environment]
recipe = collective.recipe.environment
